*{
    margin: 0;
    padding: 0;
}

/* HAEDER */

header{
    display: flex;
    min-height: 70px;
    background-color: #111;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

/* BODY */

body {
    overflow-x: hidden;
}


.img-fluid{
    height: 200px; object-fit: cover;
}

/* FOOTER */
footer{
    background-color: #111;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center ;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom{
    color: white;
}
